.ourskills-bck-img {

    background-image: url("/Assets/Images/ourskills.jpg");
    background-repeat: no-repeat;
   width: 100%;
   background-size: cover;
   background-attachment: fixed;
}

.ourskills-progress-bar {

    border-radius: 0.25em;
    border-bottom-width: 5px; 

    
}


    @media only screen and (max-width:1024px) {
        .ourskills-bck-img {
            height: 165vh;
        } 
    } 
    .ourskills-edited-box{
        padding:4px;
        margin:4px;
       
       }