.user-bg-img {
    background-image: url("/Assets/Images/createuser.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

 .user-h5 {
     font-family: 'Times New Roman', Times, serif; 
} 

.user-label{
    color: #009688;
    font-family: 'PT Sans Caption', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    
}

.user-bg {
     background: rgba(4, 4, 4, 0.5);
     opacity: 0.9; 
} 

.user-radio-style {
    margin: 0 15px 0 15px;
}