.leave-input-field {
    width: 100%;
    padding: 0.8em 0.5em 0.8em;
    outline: none;
    border: none;
    box-sizing: border-box;
    color:black;
    margin-bottom: 5px;
}
.leave-bg-color {
    background-color:#AAA6AB;
    opacity: 0.9; 
    background-image: url("/Assets/Images/signin.jpg"); 
     background-repeat: no-repeat;
    background-size: cover;
}

.leave-btn {

    width: 100%;
}
.leave-Selectbutton {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.leave-containercolor {
    background-color: whitesmoke
}
.leave-formcolor {
    background-color: rgba(4, 4, 4, 0.4);
    opacity: 0.9; 
}

.leave-label-style {
    color: white;
}