.top-head {
    width: 100%;
    margin: auto;
    padding-top: 2.5rem;
    text-align: center !important;
}

.carousel {
    top: 0;
}
.img-style {
    position: relative;
    z-index: -1;
    top: -5rem;
    height: 100vh;


}
.carousel-inner {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}


@media only screen and (max-width:800px) {
    .img-sty {
        height: 100vh;
        margin-top: 10px;
        top: -5rem;
        position: relative;
        z-index: -1;

    }
}

