.login-input-container {
    display: -ms-flexbox; 
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}



.login-input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    color:black;


}


.login-btn {
    
     width: 100%; 
}

.login-btn:hover {
    opacity: 1;
}

.login-bg-color {
    background-color: #AAA6AB;
    opacity: 0.9; 
     background-image: url("/Assets/Images/signin.jpg"); 
     background-repeat: no-repeat;
    background-size: cover; 
    height: 84vh;
}

.login-formcolor {
    background-color: rgba(4, 4, 4, 0.4);
    opacity: 0.9; 
    height: 70vh;
}

@media only screen and (max-width:1024px) {
    .login-formcolor {
        height: 70vh;
    } 
} 