a:hover {
  color: red;
}

.navbar {
  position: absolute;
  top: 0px;
  z-index: 1;
  background-color: rgba(0,0,0, 0.5);
  position: sticky;
  width: 100%;
}

.nav-bar {
  border-bottom: 2px solid transparent;
}

.nav-bar:hover {
  border-bottom-color: red;
}

.afterhome {
  background-color: black !important;
}
.navitem {
  color: white !important;
}

.navbar-logo-style {
  width: 70px;
  height: auto;
}

.signout-Icon {
  font-size: 25px;
 
}