.content-height {
    min-height: 70vh;
}

.user-avathar {
    padding: 2px;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: 1px 2px 3px gray;
}

.user-profile-list p>span {
    display: inline-block;
    width: 45%;
}


.user-profile-list p>b {
    display: inline-block;
    width: 45%;
    text-align: center;
}