.leave-list-action-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
}

.leave-list-action-btn[disabled] {
    cursor: not-allowed;
    color: gray !important;
}
