.contact-bg-img {
    background-image: url("/Assets/Images/contact-us.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    background-size: cover;
   background-attachment: fixed;

}

.contact-btn {
    width: 100%;
    background-color: #ffbf00;

}

.contact-li{
    padding-left: 5px;
}

.contact-text-or {
    display: inline-block;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #aa242f;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin-top: 50px;
}

.contact-a-style {
    display:inline;
    color: white;
 }
.contact-list-inline>li {
    display: inline-block !important;
}

.contact-socialicons{
    list-style-type:none;
    margin:10px !important;
    padding:10px !important; 
    text-align: center;
 }


.contact-background-color {

    background-color: rgba(0,0,0,0.7);
}

.contact-edited-box{
    padding:4px;
    margin:4px;
   
   }
