.ourservice-text-color {
    color: red;
}



.ourservice-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.ourservice-edited-box{
    padding:4px;   
   }
