
.footer-border-style {
    border: 1px solid grey;
}

.footer-list-inline>li {
    display: inline-block !important;
}


.footer-logo {
    width: 20%;
    height: 10vh;
    border: none;
}

.footer-socialicons{
    list-style-type:none;
    margin:10px !important;
    padding:10px !important; 
    text-align: center;
 }
 .footer-a-style {
    display:inline;
    color: white;
 }


 .footer-back-color {
     background-color: #333;
     color: blanchedalmond;
 }
.footer-back-color1 {
    background-color: #2F4259
}

.footer-bg-img {
    background-image: url("/Assets/Images/footer.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    background-size: cover;
}