.ourteam-img-style {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 2px 3px;
}


.ourteam-img-style1 {
    margin-left: auto;
    margin-right: auto;
}

.ourteam-text-color {
    
    color: #aa242f;

}

.ourteam-edited-box{
    padding:4px;
    margin:4px;
   
   }